services:
  server:
    build: ./server
    ports:
      - "4000:4000"
  client:
    image: cypress/included:15.3.0
    working_dir: /app
    volumes:
      - ./client:/app
    depends_on:
      - server
