:root {
  --black: #000000;
  --blue: #14213D;
  --orange: #FCA311;
  --gray: #E5E5E5;
  --white: #FFFFFF;
}

.header {
  background: var(--blue);
  padding: 4px 4px;
}

.inner {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;

  position: relative;
}

.aslRef {
  justify-self: start;
  font-weight: bold;
  text-decoration: none;
  color: var(--white);

  &:hover {
    color: var(--orange);
  }
}

.brand {
  justify-self: center;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 5px;

  svg {
    width: 50px;
    height: 50px;
  }

  h1 {
    margin: 0;
    font-size: 32px;
  }
}

.dropMenu {
  justify-self: end;
  display: flex;
  cursor: pointer;
  background: transparent;
  border: none;

  svg {
    width: 30px;
    height: 30px;
    color: var(--white);
    transition: fill 0.2s ease;
  }

  &:hover svg{
    color: var(--orange);
  }
}