// Colors

$black: hsl(0, 0%, 0%);
$blue: hsl(221, 51%, 16%);
$blue-highlight: hsl(220, 51%, 28%);
$orange: hsl(37, 98%, 53%);
$gray: hsl(0, 0%, 75%);
$white: hsl(0, 0%, 100%);

$gray-100: hsl(0, 0%, 100%); // White
$gray-090: hsl(0, 0%, 90%); // Pearl Brite
$gray-080: hsl(0, 0%, 80%); // Iron Fist
$gray-070: hsl(0, 0%, 70%); // Tangled Web
$gray-060: hsl(0, 0%, 60%); // Million Gray
$gray-050: hsl(0, 0%, 50%); // Gray
$gray-040: hsl(0, 0%, 40%); // Dim Gray
$gray-030: hsl(0, 0%, 30%); // Shady Character
$gray-020: hsl(0, 0%, 20%); // Carbon
$gray-010: hsl(0, 0%, 10%); // Piano Black
$gray-000: hsl(0, 0%, 0%); // Black