.DIDContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}

.introBox {
  background: $gray;
  justify-self: center;
  color: $black;
  border-radius: 0 0 12px 12px;
  padding: 16px 20px;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 200px;
}

.leaderboard {
  justify-self: start;
}

.wiki {
  justify-self: end;
}