.DIDContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}

.introBox {
  background: $gray;
  justify-self: center;
  color: $black;
  border-radius: 0 0 12px 12px;
  padding: 16px 20px;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 200px;
}

.leaderboard {
  justify-self: start;
}

.wiki {
  justify-self: end;
}

.speakerScore {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  gap: 15px;
  margin-top: 1rem;
}

.speaker {
  transform: translateY(10px);
}

.startPractice {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.startPractice button { 
    all: unset; 
    
    background: $blue;
    color: white;
    
    padding: 10px 20px;
    border-radius: 1000px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.scoreLabel {
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: $black;
}

.score {
  background: $blue;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  font-family: 'Inter', sans-serif;
  padding: 0.4rem 1.2rem;
  border-radius: 1000px;
  min-width: 70px;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0,0,0,0.25);
}

.scoreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}