.muteBtn {
  all: unset;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $blue;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.muteBtn.muted {
  background: $orange;
  width: 40px;
  height: 40px;
}

.muteBtn img {
  width: 25px;
  height: 25px;
}