form.login {
  width: 600px;
  height: 300px;
  margin: 40px auto;
  padding: 40px;;
  border-radius: 30px;
  background-color: $orange;
  box-shadow: 4px 4px 10px #888;
  justify-content: center;
  
}

div.container{
  justify-content: center;
  display:flex;
}

h3.title{
    justify-content: center;
    align-items: center;
    color: $white !important;
    font-size: 2.5em !important;
    font-weight: bold;
}

label.labels{
    justify-content: center;
    align-items: center;
    color: $white !important;
    font-size: 1.5em !important;
    font-weight: bold;
}

button.buttons{
    justify-content: center;
    align-items: center;
    color: $white !important;
    font-size: 1.5em !important;
    font-weight: bold;
    background: $blue;
    border-radius: 8px;
    padding: 10px;
}

input.inputs{
    color: $black !important;
    font-size: 1.5em !important;
    font-weight: bold;
}

.switchText {
    margin-top: 1rem;
    color: $white;
    font-size: 1rem;
    text-align: center;

    a {
        color: $blue;
        font-weight: bold;
        text-decoration: underline;

        &:hover {
            color: darken($blue, 10%);
        }
    }
}