.home {

    > h1 {
        background-color: $blue;
        color: white !important;
        padding: 0.5em 0 0.5em 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        border-radius: 1em;
        width: 50%;
        justify-self: center;
        margin-bottom: 1em !important;
    }

    > div {
        background-color: $background-2;
        padding: 1em;
        margin-bottom: 1em;
        border-radius: 1em;
        transition: background 0.3s ease;

        &:hover {
            background-color: $background-3;
        }

        h2 {
            margin: 0.5em 0 !important;
        }

        a {
            color: blue;
            &:active { color: aqua; }
        }

        button {
            background-color: $blue;
            color: white;
            padding: 1em;
            font-size: 1em;
            border-radius: 2em;
        }
    }

    .images {
        display: flex;
        gap: 2em;
        align-items: center;
        justify-content: center;
        img {
            border: 2px solid black;
        }
    }
}