@use '/src/styles/colors' as *;

%timerButtons
{
    
    all: unset; 
    
    background: $blue;
    color: white;
    
    padding: 10px 20px;
    border-radius: 1000px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 3px 5px rgba(0,0,0,0.25);

    &:hover {
        background-color: $orange;
    }
    &:active {
        background-color: $orange;
    }
}

.timerSpacing
{
    //spacing
    display: flexbox;
    margin-right: 25px;
    margin-left: 25px;
    margin: 0;
    padding: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.timerStartStop{
    @extend %timerButtons;
    display: none;
}

.timerReset{
    @extend %timerButtons;
    display: none;
}
