div.screen {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

main {
  display: block;
  overflow: auto;
  padding: 0;
  flex: 1;
  background-color: $background-1;
  min-height: 0;
}