div.screen {
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  padding: 5rem 3rem;
  flex: 1;
  background-color: $background-1;
}